<%= form_for(@friend) do |f| %>
  <% if @friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
      <% @friend.errors.full_messages.each do |message| %>
        <li>
          <div class="alert alert-success" role="alert">
            <%= message %>
          </div>  
        
        </li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name ,class:"form-control", placeholder: "first name"%>
  </div>
  <div class="field form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name ,class:"form-control", placeholder: "last name" %>
  </div>
  <div class="field form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email ,class:"form-control" , placeholder: "email"  %>
  </div>
  <div class="field form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone ,class:"form-control" , placeholder: "phone number"%>
  </div>
  <div class="field form-group">
    <%= f.label :twitter %><br>
    <%= f.text_field :twitter ,class:"form-control" , placeholder: "twitter"%>
  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-secondary"%>
  </div>

<% end %>
